body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f3f4;
    margin: 0;
    padding: 0;
    color: #333;
}

#top{
    background: #EEE; 
    padding: 1%;
}

h1 {
    text-align: center;
    background-color: #1d3557;
    color: #ffffff;
    padding: 20px;
    margin: 0;
    font-size: 2.5rem;
}

form {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 30px auto;
    padding: 20px 40px;
}

label {
    font-size: 14pt;
    color: #333;
    margin-bottom: 10px;
    display: block;
    border: #1D3557 thin; 
    border-style: none none solid;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #f1faee;
}

button {
    background-color: #457b9d;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1d3557;
}

h2 {
    text-align: center;
    background-color: #1d3557; 
    padding: 1%;
    margin: 1%; 
    color: #fff;
}
.highlight {
    background-color: lightblue;
    font-weight: bold;
    z-index: 100;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background-color: #457b9d;
    color: #ffffff;
    font-size: 1rem;
}

td {
    font-size: 0.9rem;
}

.result {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.result.accepted {
    background-color: #d4edda;
    color: #155724;
}







.flexColumned{
    background-color: #fff;
    padding: 1%;
    margin: 1%;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
}

.flexColumnedItem{
    display: flex;
    flex-direction: row;
    align-items: center; /* Center the items vertically */
}

.flexColumnedItem img{
    width: 120px;
    height: auto; /* Maintain aspect ratio */
}

.flexColumnedItem p{
    flex: 1;
    margin: 0; /* Remove default margin */
    padding-left: 1%; /* Add some space between image and text */
}





































.result.rejected {
    background-color: #f8d7da;
    color: #721c24;
}
.transitions-output{
    display: none;
}
.result.glow { 
    animation: glow 1.5s infinite; 
    border: 2px solid lightblue; 
    box-shadow: 0 0 20px lightblue; }
    @keyframes glow { 0% { box-shadow: 0 0 5px lightblue; } 50% { box-shadow: 0 0 20px lightblue; } 100% { box-shadow: 0 0 5px lightblue; } }

#randm_dfa {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
}

button[type="button"] {
    background-color: #2a9d8f;
    margin: 10px 0;
}

button[type="button"]:hover {
    background-color: #21867a;
}








.simulation-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    max-width: 100%;
    max-height: 100vh;
    width: 100vw;
    height: 100%;
    position: relative;
}
.details{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}




.slideshow-container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/static/dfa_diagram_step_0.png"); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative;
    overflow: visible;
}


.slide {
    display: none; 
    transition: opacity 0.5s linear;
    opacity: 0;
    max-width: 80vw;
    max-height: 80vh;
    flex-direction: row;
}

.slide img { 
    max-width: 80vw; 
    max-height: 80vh; 
    width: 100%; 
    height: 100%; 
    display: block; 
    object-fit: contain;
}


.active {
    display: flex;
    opacity: 1;
}


button.prev,
button.next {
    background-color: #457b9d;
    color: #ffffff;
    font-size: 1.2rem;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10; 
    bottom: 50%; 

}

button.prev {
    left: 20px;
}

button.next {
    right: 20px;
}

button.prev:hover,
button.next:hover {
    background-color: #1d3557;
}

.module-sequence-footer {
    margin: 20px auto;
    text-align: center;
}

.module-sequence-footer-content a {
    color: #1d3557;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.module-sequence-footer-content a:hover {
    color: #457b9d;
}


.background {
    z-index: 0; 
    opacity: 0.3; 
}

.foreground {
    z-index: 1; 
}